API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=
LOG_GROUP_ID=
OWNER_ID=
MONGO_DB_URI=
API_KEY=
API_URL=https://api.shrutibots.site
SUPPORT_URL=https://t.me/your_support_group
CHANNEL_URL=https://t.me/your_channel
OWNER_URL=https://t.me/NEXOR_BLAZE
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
